<h1>Public::Cats#new</h1>
<p>Find me in app/views/public/cats/new.html.erb</p>

<%= render 'layouts/error_messages', obj: @cat %>

<%= form_with model: @cat, url: confirm_cats_path do |f| %>
  <div>
    <%= f.label :publication_title, '掲載タイトル' %>
    <%= f.text_field :publication_title, autocomplete: 'publication_title' %>
  </div>

  <div>
    <%= f.label :name, 'お名前' %>
    <%= f.text_field :name, autocomplete: 'name', placeholder: '例）タマちゃん' %>
  </div>

  <div>
    <%= f.label :age, '年齢' %>
    <%= f.number_field :age, autocomplete: 'age', placeholder: '例）1.5', step: '0.1', min: '0' %> 歳
  </div>

  <div>
    <%= f.label :gender, '性別' %>
    <%= f.radio_button :gender, 'male', checked: true %>
    <%= f.label :gender, Cat.genders_i18n[:male], value: 'male' %>
    <%= f.radio_button :gender, 'female' %>
    <%= f.label :gender, Cat.genders_i18n[:female], value: 'female' %>
  </div>

  <div>
    <%= f.label :weight, '体重' %>
    <%= f.number_field :weight, autocomplete: 'weight', placeholder: '例）4.5', step: '0.1', min: '0.1' %> kg
  </div>

  <div>
    <%= f.label :breed, '種類' %>
    <%= f.select :breed, Breed.all_names_array, { include_blank: '選択してください'} %>
  </div>

  <div>
    <%= f.label :animal_print, '毛の柄' %>
    <%= f.select :animal_print, AnimalPrint.all_names_array, { include_blank: '選択してください'} %>
  </div>

  <div>
    <%= f.label '毛の長さ' %>
    <%= f.radio_button :hair_length, 'short', checked: true %>
    <%= f.label :hair_length, Cat.hair_lengths_i18n[:short], value: 'short' %>
    <%= f.radio_button :hair_length, 'long' %>
    <%= f.label :hair_length, Cat.hair_lengths_i18n[:long], value: 'long' %>
  </div>

  <div>
    <%= f.check_box :castration_flag, {}, 'true', 'false' %>
    <%= f.label :castration_flag, '去勢・避妊済み' %>
  </div>

  <div>
    <%= f.check_box :vaccine_flag, {}, 'true', 'false' %>
    <%= f.label :vaccine_flag, 'ワクチン接種済み' %>
  </div>

  <div>
    <%= f.label :postal_code, '郵便番号' %>
    <%= f.text_field :postal_code, autocomplete: 'postal_code', placeholder: '例）1234567' %>
  </div>

  <div>
    <%= f.label :prefecture, '都道府県' %>
    <%= f.text_field :prefecture, autocomplete: 'prefecture', placeholder: '例）大阪府' %>
  </div>

  <div>
    <%= f.label :municipalitie, '市区町村' %>
    <%= f.text_field :municipalitie, autocomplete: 'municipalitie', placeholder: '例）大阪市中央区' %>
  </div>

  <div>
    <%= f.label :background, '募集の経緯' %>
    <%= f.text_area :background, autocomplete: 'background', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :personality, '性格' %>
    <%= f.text_area :personality, autocomplete: 'personality', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :health, '健康状態' %>
    <%= f.text_area :health, autocomplete: 'health', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :delivery_place, '譲渡場所' %>
    <%= f.text_area :delivery_place, autocomplete: 'delivery_place', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :remarks, '備考' %>
    <%= f.text_area :remarks, autocomplete: 'remarks', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :publication_deadline, '掲載期限（翌日以降、掲載日から14日間まで）' %>
    <%= f.date_field :publication_deadline %>
  </div>

  <%= f.submit '下書き保存', name: :new_draft %>
  <%= f.submit '入力内容の確認画面へ', name: :new %>
<% end %>