<h1>Public::Cats#new</h1>
<p>Find me in app/views/public/cats/new.html.erb</p>

<%= render 'layouts/error_messages', obj: @cat %>

<%= form_with model: @cat, url: confirm_cats_path do |f| %>
  <% if @cat.photos.attached? %>
    <div>
      <% @cat.photos.each do |photo| %>
        <div>
          <%= image_tag photo %>
          <%= f.hidden_field :photos, multiple: true, value: photo.signed_id %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :photos %>
    <%= f.file_field :photos, accept: 'image/jpg, image/jpeg, image/png', multiple: true, direct_upload: true %>
  </div>

  <% if @cat.video.attached? %>
    <div>
      <%= video_tag rails_blob_path(@cat.video), controls: true %>
      <%= f.hidden_field :video, value: @cat.video.signed_id %>
    </div>
  <% end %>

  <div>
    <%= f.label :video %>
    <%= f.file_field :video, accept: 'video/*', direct_upload: true %>
  </div>

  <div>
    <%= f.label :publication_title %>
    <%= f.text_field :publication_title, autocomplete: 'publication_title' %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: 'name', placeholder: '例）タマちゃん' %>
  </div>

  <div>
    <%= f.label :age %>
    <%= f.number_field :age, autocomplete: 'age', placeholder: '例）1.5', step: '0.1', min: '0' %> 歳
  </div>

  <div>
    <%= f.label :gender %>
    <%= f.radio_button :gender, 'male', checked: true %>
    <%= f.label :gender, Cat.genders_i18n[:male], value: 'male' %>
    <%= f.radio_button :gender, 'female' %>
    <%= f.label :gender, Cat.genders_i18n[:female], value: 'female' %>
  </div>

  <div>
    <%= f.label :weight %>
    <%= f.number_field :weight, autocomplete: 'weight', placeholder: '例）4.5', step: '0.1', min: '0.1' %> kg
  </div>

  <div>
    <%= f.label :breed %>
    <%= f.collection_select :breed, Breed.all, :name, :name, include_blank: '選択してください' %>
  </div>

  <div>
    <%= f.label :animal_print %>
    <%= f.collection_select :animal_print, AnimalPrint.all, :name, :name, include_blank: '選択してください' %>
  </div>

  <div>
    <%= f.label :hair_length %>
    <%= f.radio_button :hair_length, 'short', checked: true %>
    <%= f.label :hair_length, Cat.hair_lengths_i18n[:short], value: 'short' %>
    <%= f.radio_button :hair_length, 'long' %>
    <%= f.label :hair_length, Cat.hair_lengths_i18n[:long], value: 'long' %>
  </div>

  <div>
    <%= f.check_box :castration_flag, {}, 'true', 'false' %>
    <%= f.label :castration_flag, '去勢・避妊済み' %>
  </div>

  <div>
    <%= f.check_box :vaccine_flag, {}, 'true', 'false' %>
    <%= f.label :vaccine_flag, 'ワクチン接種済み' %>
  </div>

  <div>
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, autocomplete: 'postal_code', placeholder: '例）1234567' %>
  </div>

  <button type="button" id="search_address_button">住所検索</button>
  
   <div>
    <%= f.label :prefecture %>
    <%= f.collection_select :prefecture, Prefecture.all, :name, :name, include_blank: true %>
  </div>


  <div>
    <%= f.label :city %>
    <%= f.text_field :city, autocomplete: 'city', placeholder: '例）大阪市中央区' %>
  </div>

  <div>
    <%= f.label :background %>
    <%= f.text_area :background, autocomplete: 'background', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :personality %>
    <%= f.text_area :personality, autocomplete: 'personality', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :health %>
    <%= f.text_area :health, autocomplete: 'health', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :delivery_place %>
    <%= f.text_area :delivery_place, autocomplete: 'delivery_place', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :remarks %>
    <%= f.text_area :remarks, autocomplete: 'remarks', placeholder: 'できるだけ内容を詳細に記入して下さい。' %>
  </div>

  <div>
    <%= f.label :publication_deadline %>
    <%= f.date_field :publication_deadline %>
  </div>

  <%= f.submit '下書き保存', name: :new_draft %>
  <%= f.submit '入力内容の確認画面へ', name: :new %>
<% end %>

<%= javascript_pack_tag 'search-address' %>