<section class="publish">
  <div class="container">
    <h2 class="heading heading--2">
      里親募集掲載の詳細
    </h2>

    <h3 class="heading heading--3">
      <% if @cat.publication_title.blank? %>
        タイトル未設定
      <% else %>
        <%= @cat.publication_title %>
      <% end %>
    </h3>

    <% if current_user.id == @cat.user.id &&
          @cat.publication_status != 'in_consultation' &&
          @cat.publication_status != 'foster_parents_decided' &&
          @cat.publication_status != 'recruitment_closed' %>
      <div class="publish__flex-1">
        <%= link_to '内容を編集する', edit_cat_path(@cat.id), class: 'publish__button publish__button--edit' %>
        <%= link_to '掲載を削除', cat_path(@cat.id), method: :delete, class: 'publish__button publish__button--delete', data: { confirm: 'この掲載を削除します。よろしいですか？' } %>
      </div>
    <% end %>

    <% if @cat.photos.attached? %>
      <div class="publish__photos">
        <div id="publish-swiper" class="publish-swiper">
          <div class="swiper-wrapper">
            <% @cat.photos.each do |photo| %>
              <div class="swiper-slide">
                <%= image_tag photo %>
              </div>
            <% end %>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

        <div id="publish-thumbs-slider" class="publish-swiper publish-swiper--thumbs">
          <div class="swiper-wrapper">
            <% @cat.photos.each do |photo| %>
              <div class="swiper-slide">
                <%= image_tag photo %> 
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @cat.video.attached? %>
      <h3 class="heading heading--3">映像</h3>
      <div class="publish__video">
        <%= video_tag rails_blob_path(@cat.video), controls: true %>
      </div>
    <% end %>

    <% if @cat.publication_status != 'draft' && @cat.publication_status != 'private'%>
      <div id=<%="bookmark-#{@cat.id}"%>>
        <%= render 'public/bookmarks/button', cat_id: @cat.id %>
      </div>
    <% end %>

    <section>
      <h3 class="heading heading--3">基本情報</h3>
      <dl class="publish__grid publish__grid--1">
        <dt>掲載状</dt>
        <dd class="publish__status publish__status--<%= @cat.publication_status %>"><%= @cat.publication_status_i18n %></dd>

        <dt>所在地</dt>
        <dd><%= @cat.prefecture %><%= @cat.city %></dd>

        <dt>掲載日</dt>
        <dd><%= @cat.publication_date %></dd>

        <dt>掲載期限</dt>
        <dd><%= @cat.publication_deadline %></dd>

        <dt>名前</dt>
        <dd><%= @cat.name %></dd>

        <dt>性別</dt>
        <dd class="publish__gender publish__gender--<%= @cat.gender %>"><%= @cat.gender_i18n %></dd>

        <dt>年齢</dt>
        <dd><%= @cat.age %>歳</dd>

        <dt>体重</dt>
        <dd><%= @cat.weight %>kg</dd>

        <dt>毛の柄・長さ</dt>
        <dd><%= @cat.animal_print %>・<%= @cat.hair_length_i18n %></dd>

        <dt>種類</dt>
        <dd><%= @cat.breed %></dd>
        
        <dt>去勢・避妊</dt>
        <% if @cat.castration_flag %>
          <dd>去勢済み</dd>
        <% else %>
          <dd>未手術</dd>
        <% end %>

        <dt>ワクチン</dt>
        <% if @cat.vaccine_flag %>
          <dd>接種済み</dd>
        <% else %>
          <dd>未接種</dd>
        <% end %>
      </dl>
    </section>

    <section>
      <h3 class="heading heading--3">詳細情報</h3>
      <dl class="publish__grid publish__grid--2">
        <dt>経緯</dt>
        <dd><%= show_text @cat.background %></dd>

        <dt>性格</dt>
        <dd><%= show_text @cat.personality %></dd>

        <dt>健康状態</dt>
        <dd><%= show_text @cat.health %></dd>

        <dt>譲渡場所</dt>
        <dd><%= show_text @cat.delivery_place %></dd>

        <% if !@cat.remarks.blank? %>
          <dt>備考</dt>
          <dd><%= show_text @cat.remarks %></dd>
        <% end %>
      </dl>
    </section>

    <section>
      <h3 class="heading heading--3">質問・コメント</h3>

      <%= render 'public/comments/list', comments: @cat.comments.limit(5) %>

      <% if @cat.publication_status == 'public' || @cat.publication_status == 'in_consultation' %>
        <%= link_to '質問・コメントページへ', cat_comments_path(@cat.id), class: 'publish__comment-button' %>
      <% end %>
    </section>
    
    <div class="publish__flex-2">
      <%= link_to '掲載一覧ページに戻る', cats_path , class: 'publish__page-back-button' %>
      <% if current_user?(@cat.user) %>
        <%= link_to 'マイページに戻る', user_path(@cat.user), class: 'publish__candidate-button' %>
      <% else %>
        <%= link_to '里親応募', confirm_cat_candidates_path(@cat.id), class: 'publish__candidate-button' %>
      <% end %>
    </div>
  </div>
</section>