<%= form_with url: searches_path, method: :get, class: 'categories-form' do |f| %>
  <%= f.hidden_field :search_type, value: 'categories' %>

  <div class="categories-form__container">
    <div class="categories-form__row">
      <div class="categories-form__col">
        <%= f.label :prefecture, '都道府県' %>
        <%= f.collection_select :prefecture, Prefecture.all, :name, :name, { include_blank: '全て' }, class: 'selectbox' %>
      </div>

      <div class="categories-form__col">
        <%= f.label :breed, '種類' %>
        <%= f.collection_select :breed, Breed.all, :name, :name, { include_blank: '全て' }, class: 'selectbox' %>
      </div>

      <div class="categories-form__col">
        <%= f.label :age, '年齢' %>
        <%= f.select :age, [['子猫（0~1歳）', 'kitten'], ['成猫（1~8歳）', 'adult_cat'], ['老猫（8歳~）', 'old_cat']], { include_blank: '全て' }, class: 'selectbox' %>
      </div>

      <div class="categories-form__col">
        <%= f.label :gender, '性別' %>
        <%= f.select :gender, [[Cat.genders_i18n[:male], 'male'], [Cat.genders_i18n[:female], 'female']], { include_blank: '全て' }, class: 'selectbox' %>
      </div>

      <div class="categories-form__col">
        <%= f.label :animal_print, '毛の柄' %>
        <%= f.collection_select :animal_print, AnimalPrint.all, :name, :name, { include_blank: '全て' }, class: 'selectbox' %>
      </div>
    </div>
    <%= button_tag '検索', type: 'submit', class: 'categories-form__submit' %>
  </div>
<% end %>