<div class="main-visual <%= 'main-visual--signed-in' if user_signed_in? %>">
  <div class="container main-visual__container">
    <div class="main-visual__logo">
      <%= render 'layouts/logo' %>
    </div>
    <p class="main-visual__text">
    「あなたの優しさ」と「猫ちゃんとの出会い」のお手伝い。
    </p>

    <% if !user_signed_in? %>
      <div class="main-visual__links">
        <%= link_to '新規登録', new_user_registration_path, class: 'main-visual__link main-visual__link--sign-up' %>
        <%= link_to 'ログイン', new_user_session_path, class: 'main-visual__link main-visual__link--log-in' %>
        <p class="main-visual__text">
        ----- お試しの方はこちら -----
        </p>
        <%= link_to 'ゲストログイン', guest_session_path, method: :post, class: 'main-visual__link main-visual__link--guest-log-in' %>
      </div>
    <% end %>
  </div>

  <div class="main-visual__img-wrap">
    <%= image_tag 'main-visual/img-1.jpg', class: 'main-visual__img' %>
  </div>
</div>