<h1>Admin::Cats#show</h1>
<p>Find me in app/views/admin/cats/show.html.erb</p>

<%= link_to 'この掲載を削除', admin_cat_leave_path(@cat.id), method: :patch, data: { confirm: 'この掲載を削除します。よろしいですか？' } %>

<p>猫ID：<%= @cat.id %></p>
<p>会員ID：<%= @cat.user_id %></p>
<% if @cat.photos.attached? %>
  <div>
    <% @cat.photos.each do |photo| %>
      <%= image_tag photo %>
    <% end %>
  </div>
<% end %>
<% if @cat.video.attached? %>
  <div>
    <%= video_tag rails_blob_path(@cat.video), controls: true %>
  </div>
<% end %>
<p>掲載タイトル：<%= @cat.publication_title %></p>
<p>名前：<%= @cat.name %></p>
<p>年齢：<%= @cat.age %></p>
<p>性別：<%= @cat.gender_i18n %></p>
<p>体重：<%= @cat.weight %></p>
<p>種類：<%= @cat.breed %></p>
<p>毛の柄：<%= @cat.animal_print %></p>
<p>毛の長さ：<%= @cat.hair_length_i18n %></p>
<p>去勢・避妊フラグ：<%= @cat.castration_flag %></p>
<p>ワクチン接種フラグ：<%= @cat.vaccine_flag %></p>
<p>郵便番号：<%= @cat.postal_code %></p>
<p>都道府県：<%= @cat.prefecture %></p>
<p>市区町村：<%= @cat.city %></p>
<p>経緯：<%= @cat.background %></p>
<p>性格：<%= @cat.personality %></p>
<p>健康状態：<%= @cat.health %></p>
<p>譲渡場所：<%= @cat.delivery_place %></p>
<p>備考：<%= @cat.remarks %></p>
<p>掲載日：<%= @cat.publication_date %></p>
<p>掲載期限：<%= @cat.publication_deadline %></p>
<p>掲載ステータス：<%= @cat.publication_status_i18n %></p>
<p>登録日時：<%= @cat.created_at %></p>
<p>更新日時：<%= @cat.updated_at %></p>