<h2>会員情報編集</h2>

<%= form_with model: @user, url: user_registration_path, method: :put do |f| %>
  <%= render "public/shared/error_messages", resource: @user %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: 'name',  placeholder: '例）猫山太郎', required: true %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, autocomplete: 'postal_code', placeholder: '例）1234567', required: true %>
  </div>

  <button type="button" id="search_address_button">住所検索</button>

  <div class="field">
    <%= f.label :prefecture %><br />
    <%= f.collection_select :prefecture, Prefecture.all, :name, :name, include_blank: true, required: true %>
  </div>
  
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: 'city', placeholder: '例）新宿区', required: true %>
  </div>

  <div class="field">
    <%= f.label :telephone_number %><br />
    <%= f.telephone_field :telephone_number, autocomplete: 'telephone_number', placeholder: '例）09012345678', required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: '例）sample@sample.jp', required: true %>
  </div>

  <div class="field">
    <%= f.label :password, 'パスワードを変更' %>
    <% if @minimum_password_length %>
      <em>（<%= @minimum_password_length %>文字以上）</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'パスワードを変更（確認用）' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to "戻る", :back %>
<%= link_to '退会する', users_confirm_path %>

<%= javascript_pack_tag 'search-address' %>