
<section class="chatroom">
  <div class="container">
    <h2 class="heading heading--2"><%= @chatroom.chat_partner(current_user).name %>さんとのチャットルーム</h2>

    <dl class="chatroom__grid">
      <dt>応募元の掲載</dt>
      <dd>
        <div class="chatroom__cat-photo-wrap">
          <%= image_tag @cat.photo_image_url(0) %>
        </div>
        <%= link_to @cat.publication_title, cat_path(@cat.id), class: 'chatroom__link' %>
      </dd>
    </dl>

    <%# チャットルームユーザー2名のプロフィール画像のURLをカスタムデータ属性として持たせる %>
    <div id="users-profile-image-url" hidden
    user-<%= current_user.id %>-avatar-src="
      <%= current_user.profile_image_url %>"
    user-<%= @chatroom.chat_partner(current_user).id %>-avatar-src="
      <%= @chatroom.chat_partner(current_user).profile_image_url %>"></div>

    <%= render 'public/messages/list' %>

    <% if @chatroom.deleted_flag %>
      <p class="chatroom__ended-text">
        <i class="fa-solid fa-circle-exclamation"></i>
        このチャットルームは終了しています
      </p>
      <%= link_to '< チャットルーム一覧に戻る', chatrooms_path, class: 'chatroom__form-back-link' %>
    <% else %>
      <%= form_with model: [@chatroom, @message], local: false, class: 'form chatroom__form' do |f| %>
        <div class="chatroom__form-container">
          <%= f.text_area :body, placeholder: '送信メッセージを入力', id: 'message-body-field', class: 'text-area chatroom__form-text-area' %>
          <%= link_to '< チャットルーム一覧に戻る', chatrooms_path, class: 'chatroom__form-back-link' %>
          <%= button_tag '送信', class: 'chatroom__form-send-button' %>
        </div>
      <% end %>

      <%#　譲渡の進捗状況ボタン %>
      <%= render 'transfer_progress_buttons' %>
    <% end %>
  </div>
</section>


<%# リアルタイムチャットでの自分と相手のスタイル差別化の為、ここへ記述 %>
<style>
  li[user-id="<%= current_user.id %>"] {
    direction: rtl;
  }

  li[user-id="<%= current_user.id %>"] * {
    direction: ltr;
  }

  li[user-id="<%= current_user.id %>"] > .message-list__item-user-name,
  li[user-id="<%= current_user.id %>"] > .message-list__item-created-at {
    text-align: right;
  }

  li[user-id="<%= current_user.id %>"] > .message-list__item-body {
    background-color: #6dbec8;
    color: white;
  }
</style>