<div class="container">
  <h2 class="heading heading--2">ログイン</h2>

  <%= form_with model: @user, url: user_session_path, class: 'form' do |f| %>
    <div class="form__container">
      <div class="form__wrap">
        <p class="form__text">アカウントをお持ちでない方は<%= link_to 'こちら', new_user_registration_path, class: 'form__link' %></p>
      </div>

      <div class="form__wrap">
        <%= f.label :email, class: 'form__label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form__control' %>
      </div>

      <div class="form__wrap">
        <%= f.label :password, class: 'form__label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form__control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form__wrap">
          <%= f.check_box :remember_me, class: 'form__check' %>
          <%= f.label :remember_me, class: 'form__label' %>
        </div>
      <% end %>

      <div class="form__wrap form__wrap--center">
        <%= f.submit "ログイン", class: 'form__submit' %>
      </div>
    </div>
  <% end %>
</div>
