<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

<h2>マイページ</h2>

<p>名前：<%= @user.name %></p>

<p>電話番号：<%= @user.telephone_number %></p>

<p>メールアドレス：<%= @user.email %></p>

<p>郵便番号：<%= @user.postal_code %></p>

<p>都道府県：<%= @user.prefecture %></p>

<p>市区町村：<%= @user.city %></p>

<%= link_to '会員情報編集', edit_user_registration_path %>