<footer id="footer" class="footer<%= ' footer--margin-top' if !current_page?(root_path) || user_signed_in? %>">
  <div class="container footer__container">
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <%= link_to 'はじめての方へ', about_path, class: 'footer__nav-item-link' %>
        </li>
        <li class="footer__nav-item">
          <%= link_to '里親募集の猫を探す', cats_path, class: 'footer__nav-item-link' %>
        </li>
        <li class="footer__nav-item">
          <%= link_to '里親を募集する', new_cat_path, class: 'footer__nav-item-link' %>
        </li>
        <li class="footer__nav-item">
          <%= link_to 'お問い合わせ', new_contact_path, class: 'footer__nav-item-link' %>
        </li>
      </ul>
    </nav>

    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <% if user_signed_in? && !admin_url? %>
          <%# 会員ログイン済 %>
          <% if !current_user.is_guest_user? %>
            <li class="footer__nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'footer__nav-item-link' %>
            </li>
            <li class="footer__nav-item">
              <%= link_to 'チャットルーム', chatrooms_path, class: 'footer__nav-item-link' %>
            </li>
            <li class="footer__nav-item">
              <%= link_to notices_path, class: 'footer__nav-item-link' do %>
                通知
                <% if @unread_notices_num > 1 %>
                  <i class="fa-solid fa-bell"></i></i><%= @unread_notices_num %>
                <% end %>
              <% end %>
            </li>
          <% end %>
          <li class="footer__nav-item">
            <%= link_to 'ブックマーク', bookmarks_path, class: 'footer__nav-item-link' %>
          </li>
          <li class="footer__nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'footer__nav-item-link' %>
          </li>
        <% elsif admin_signed_in? && admin_url? %>
          <%# 管理者ログイン済かつ管理者ページ %>
          <li class="header__sub-menu-item">
            <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, class: 'footer__nav-item-link' %>
          </li>
        <% else %>
          <%# 未ログイン %>
          <li class="footer__nav-item">
            <%= link_to '新規登録', new_user_registration_path, class: 'footer__nav-item-link' %>
          </li>
          <li class="footer__nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: 'footer__nav-item-link' %>
          </li>
          <li class="footer__nav-item">
            <%= link_to 'ゲストログイン', guest_session_path, method: :post, class: 'footer__nav-item-link' %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="footer__logo-wrap">
      <%= render 'layouts/logo' %>
    </div>
  </div>

  <p class="footer__copyright">
    <small class="footer__copyright-text">&copy; 2023 
      <a class="footer__copyright-link" href="https://github.com/fujii-kazuki" target="_blank" rel="noopener noreferrer">
        Fujii Kazuki
      </a>
    </small>
  </p>
</footer>