<!DOCTYPE html>
<html>
  <head>
    <title>Waicat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/92a2ba56c2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/sp_nav_menu' %>

    <div id="flash-message"><%= render 'layouts/flash_message' %></div>

    <%= yield %>
  </body>
</html>
